/* BREAKPOINTS VARIABLES */
/* BASE SETTINGS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Metropolis", sans-serif;
  font-weight: normal;
  line-height: 1.6; }

h1 {
  font-family: "Metropolis", sans-serif; }

.container {
  max-width: 153rem;
  margin: 0rem auto;
  height: 100%; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0 auto;
      max-width: 100%;
      width: 95%; } }

/* CROSS */
.cross {
  width: 1.5rem;
  height: 1px;
  background: #5e3db3;
  box-shadow: 0px 0px 0px 1px rgba(94, 61, 179, 0.5);
  position: absolute; }

.cross-light {
  width: 1.5rem;
  height: 1px;
  background: #5e3db3;
  box-shadow: 0px 0px 0px 1px rgba(94, 61, 179, 0.5);
  opacity: .5;
  position: absolute; }

@font-face {
  font-family: Metropolis;
  font-weight: normal;
  src: url("../fonts/Metropolis-Regular.otf") format("opentype"); }

@font-face {
  font-family: Metropolis;
  font-weight: bold;
  src: url("../fonts/Metropolis-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: Metropolis;
  font-weight: bolder;
  src: url("../fonts/Metropolis-Bold.otf") format("opentype"); }

@font-face {
  font-family: Metropolis;
  font-weight: 300;
  src: url("../fonts/Metropolis-Light.otf") format("opentype"); }

.header {
  height: 96rem;
  background: url("../img/main.png") no-repeat center fixed;
  color: #fff;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .header {
      background: url("../img/main.png") no-repeat center top fixed; } }
  .header__overlay {
    background: rgba(10, 13, 53, 0.8);
    width: 100%;
    height: 100%; }
  .header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 5.3rem; }
    .header__top--tagline {
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 1.4rem; }
  .header__title {
    margin-top: 18%;
    font-size: 9rem;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 153rem;
    line-height: 1.1;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 768px) {
      .header__title {
        font-size: 6.4rem;
        width: 60rem;
        margin: 0 auto;
        margin-top: 25%; } }
    .header__title--phrase-one {
      z-index: 1; }
    .header__title--phrase-two {
      text-align: right; }
      @media only screen and (max-width: 768px) {
        .header__title--phrase-two {
          text-align: left;
          margin-left: 10rem;
          z-index: 2; } }
    .header__title--sportlist {
      font-size: 1.4rem;
      font-weight: 100;
      list-style: none;
      color: #5e3db3;
      text-align: right;
      display: flex;
      margin-left: auto;
      width: 57rem;
      justify-content: space-between; }
      @media only screen and (max-width: 768px) {
        .header__title--sportlist {
          margin-top: 15rem;
          width: 75rem;
          left: -7rem;
          font-size: 1.6rem;
          position: relative; } }
    .header__title--line {
      width: 38.5rem;
      height: 0.5rem;
      background: #5e3db3;
      position: relative;
      transform: rotate(-52deg) translateX(42%);
      left: 15%; }
      @media only screen and (max-width: 768px) {
        .header__title--line {
          left: -19%;
          transform: rotate(-52deg) translateX(89%); } }
  .header__buttons {
    padding-top: 12%;
    display: flex;
    justify-content: center; }
    .header__buttons--item {
      width: 31.1rem;
      background: #5e3db3;
      border: none;
      height: 7.7rem;
      border-radius: 4rem;
      box-shadow: 0px 16px 24px 0px #0a0d35;
      color: #fff;
      display: flex;
      outline: 0px; }
      .header__buttons--item:hover {
        transform: translateY(5px);
        cursor: pointer;
        box-shadow: 0px 16px 24px 10px #0a0d35; }
      .header__buttons--item i {
        font-size: 4rem;
        margin-left: 13%;
        margin-right: 10%; }
      .header__buttons--item:nth-child(1) {
        margin-right: 5rem; }
    .header__buttons--text {
      width: 16rem;
      font-size: 1.4rem;
      font-weight: 100;
      text-transform: uppercase;
      text-align: left;
      font-family: "Metropolis", sans-serif;
      position: relative;
      top: .5rem;
      letter-spacing: 1px; }
      .header__buttons--text:nth-child(1) {
        width: 12rem;
        color: red; }
      .header__buttons--text span {
        font-weight: bold; }

.section__athlets {
  max-height: 96rem;
  display: flex;
  flex-direction: column; }
  .section__athlets--img {
    position: absolute;
    left: 6rem;
    z-index: 2;
    height: 110rem; }
    @media only screen and (max-width: 1568px) {
      .section__athlets--img {
        top: 8rem;
        left: -27rem; } }
    @media only screen and (max-width: 768px) {
      .section__athlets--img img {
        height: 90%; } }
  .section__athlets--blank {
    position: relative;
    width: 40%; }
  .section__athlets--container {
    display: flex;
    justify-content: space-between;
    height: 100%; }
  .section__athlets .cross-1-1 {
    top: 15.8rem;
    left: 21rem; }
    @media only screen and (max-width: 768px) {
      .section__athlets .cross-1-1 {
        top: 11.8rem;
        left: 3rem; } }
  .section__athlets .cross-1-2 {
    top: 15.8rem;
    left: 21rem;
    transform: rotate(90deg); }
    @media only screen and (max-width: 768px) {
      .section__athlets .cross-1-2 {
        top: 11.8rem;
        left: 3rem; } }
  .section__athlets .cross-2-1 {
    left: 23rem;
    top: 16.9rem; }
    @media only screen and (max-width: 768px) {
      .section__athlets .cross-2-1 {
        left: 6rem;
        top: 12.9rem; } }
  .section__athlets .cross-2-2 {
    left: 23rem;
    top: 17rem;
    transform: rotate(90deg); }
    @media only screen and (max-width: 768px) {
      .section__athlets .cross-2-2 {
        left: 6rem;
        top: 12.9rem; } }
  .section__athlets--title {
    width: 45%;
    color: #e7e7e7;
    font-size: 9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10.3rem;
    line-height: 1;
    height: 25.7rem; }
    @media only screen and (max-width: 768px) {
      .section__athlets--title {
        width: 60%; } }
  .section__athlets--line {
    width: 100rem;
    background: #916fe9;
    height: .5rem;
    z-index: 0;
    transform: rotate(-54deg) translateX(40rem);
    left: -33rem;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .section__athlets--line {
        transform: rotate(-54deg) translateX(26rem);
        left: auto;
        right: 67rem; } }
  .section__athlets--item {
    height: 25.7rem; }
    .section__athlets--item:nth-child(3) {
      background: #f6f4fb; }
    .section__athlets--item:nth-child(4) {
      background: #5e3db3;
      color: #fff; }
  .section__athlets--textbox {
    width: 45%;
    align-self: center; }
    @media only screen and (max-width: 768px) {
      .section__athlets--textbox {
        width: 60%; } }
    .section__athlets--textbox--title {
      color: #c1c1c1;
      text-transform: uppercase;
      font-size: 3.6rem; }
      .section__athlets--textbox--title span {
        font-size: 1.8rem;
        border-bottom: 5px solid #5e3db3;
        color: black;
        position: relative;
        top: -12px; }
    .section__athlets--textbox--text {
      font-size: 2rem;
      font-weight: 300; }

.grey-border {
  border-bottom: 5px solid #f6f4fb !important; }

.section__players {
  margin-top: 6.8rem;
  max-height: 96rem;
  flex-direction: column;
  overflow: hidden; }
  .section__players .container {
    position: relative; }
  .section__players img {
    position: absolute; }
  .section__players--img {
    z-index: 2;
    left: 66rem;
    top: 2rem;
    height: 86rem;
    max-width: 100rem;
    position: absolute; }
    .section__players--img img {
      overflow: hidden; }
    @media only screen and (max-width: 768px) {
      .section__players--img img {
        height: 79rem; } }
    @media only screen and (max-width: 768px) {
      .section__players--img {
        right: 8rem; } }
  .section__players--blank {
    position: relative;
    width: 40%; }
  .section__players--container {
    display: flex;
    justify-content: space-between;
    height: 100%; }
  .section__players .cross-3-1 {
    top: 13rem;
    left: 2rem; }
  .section__players .cross-3-2 {
    top: 13rem;
    left: 2rem;
    transform: rotate(90deg); }
  .section__players .cross-4-1 {
    left: -1rem;
    top: 11rem; }
  .section__players .cross-4-2 {
    left: -1rem;
    top: 11rem;
    transform: rotate(90deg); }
  .section__players .cross-5-1 {
    right: 8rem;
    top: 40rem; }
  .section__players .cross-5-2 {
    right: 8rem;
    top: 40rem;
    transform: rotate(90deg); }
  .section__players--title {
    width: 45%;
    color: #e7e7e7;
    font-size: 9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10.3rem;
    line-height: 1;
    height: 25.7rem; }
  .section__players--line {
    width: 63rem;
    background: #916fe9;
    height: .5rem;
    z-index: 0;
    transform: rotate(-54deg) translateX(27rem);
    left: -39rem;
    position: relative;
    overflow: hidden; }
  .section__players--line-two {
    width: 38rem;
    background: #916fe9;
    height: .5rem;
    z-index: 0;
    transform: rotate(-54deg) translateX(68rem);
    left: -8rem;
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 768px) {
      .section__players--line-two {
        display: none; } }
    @media only screen and (max-width: 1568px) {
      .section__players--line-two {
        width: 30rem; } }
  .section__players--item {
    height: 25.7rem; }
    .section__players--item:last-child {
      color: red; }
    .section__players--item:nth-child(3) {
      background: #f6f4fb; }
    .section__players--item:nth-child(4) {
      background: #0a0d35;
      color: #fff; }
      .section__players--item:nth-child(4) span {
        color: #5e3db3; }
  .section__players--textbox {
    width: 45%;
    align-self: center; }
    @media only screen and (max-width: 768px) {
      .section__players--textbox {
        width: 60%; } }
    .section__players--textbox--title {
      color: #c1c1c1;
      text-transform: uppercase;
      font-size: 3.6rem; }
      .section__players--textbox--title span {
        font-size: 1.8rem;
        border-bottom: 5px solid #5e3db3;
        color: black;
        position: relative;
        top: -12px; }
    .section__players--textbox--text {
      font-size: 2rem;
      font-weight: 300; }

.section__players--item:nth-child(4) {
  height: 19rem; }

.section__grid {
  display: flex;
  flex-wrap: wrap; }
  .section__grid--card {
    width: 50%; }
    @media only screen and (max-width: 768px) {
      .section__grid--card:nth-child(3) {
        order: 3; }
      .section__grid--card:nth-child(4) {
        order: 0; }
      .section__grid--card:nth-child(5) {
        order: 5; }
      .section__grid--card:nth-child(6) {
        order: 6; } }
    @media only screen and (max-width: 768px) {
      .section__grid--card {
        width: 100%; } }

.card__box {
  width: 16.8rem;
  height: 15.5rem;
  background: #5e3db3;
  text-align: center;
  font-size: 2.4rem;
  color: #fff;
  position: relative;
  top: 14.5rem;
  right: 8.5rem; }
  @media only screen and (max-width: 768px) {
    .card__box {
      top: -7.5rem;
      right: -4.5rem; } }
  .card__box--center {
    width: 16.8rem;
    height: 15.5rem;
    background: #5e3db3;
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    position: relative;
    top: 14.5rem;
    margin-left: auto;
    left: 8.5rem; }
    @media only screen and (max-width: 768px) {
      .card__box--center {
        top: -7.5rem;
        left: auto;
        right: 69rem; } }
  .card__box--figure {
    border-bottom: 5px solid #8f78ca;
    width: 21%;
    padding-top: 29%;
    margin: 0 auto; }

.card__title {
  text-transform: uppercase;
  font-size: 9rem;
  color: #e7e7e7;
  padding: 0 12.8rem; }
  @media only screen and (max-width: 768px) {
    .card__title {
      padding: 0 3.9rem;
      position: relative;
      top: -8rem; } }

.card__text {
  margin: 7rem 12.8rem;
  font-size: 2.4rem;
  font-weight: 300;
  width: 36rem; }
  @media only screen and (max-width: 768px) {
    .card__text {
      margin: 0 4.8rem;
      width: 63rem;
      position: relative;
      top: -10rem; } }

.card__line {
  width: 2.2rem;
  height: .5rem;
  background: #5e3db3;
  position: relative;
  left: 13rem;
  border-radius: 3px; }
  @media only screen and (max-width: 768px) {
    .card__line {
      left: 5rem;
      top: -8rem; } }

.card__img {
  width: 100%;
  height: 100%; }

footer {
  height: 96rem;
  background: url("../img/footer__bg.png") center no-repeat; }
  @media only screen and (max-width: 768px) {
    footer {
      height: 85rem; } }

.footer__buttons {
  padding-top: 10rem !important; }

.footer__application {
  background: rgba(10, 13, 53, 0.8);
  width: 100%;
  height: 79rem; }
  .footer__application--textbox {
    padding-top: 23rem;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 768px) {
      .footer__application--textbox {
        flex-direction: column;
        text-align: center;
        padding-top: 16rem; } }
  .footer__application--app-logo {
    width: 13rem;
    height: 13.7rem;
    margin-right: 3.6rem; }
    @media only screen and (max-width: 768px) {
      .footer__application--app-logo {
        margin: 0 auto;
        margin-bottom: 7rem; } }
  .footer__application--title {
    font-size: 9rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    z-index: 3;
    position: relative; }
  .footer__application--text {
    text-transform: uppercase;
    color: #a595cc;
    font-size: 3.6rem;
    text-align: left;
    position: relative;
    top: -2rem;
    z-index: 3; }
    @media only screen and (max-width: 768px) {
      .footer__application--text {
        text-align: center; } }
  .footer__application--line-one {
    width: 16rem;
    height: .5rem;
    background: #5e3db3;
    transform: rotate(-54deg) translateX(12rem);
    left: -6rem;
    position: relative;
    z-index: 2; }
  .footer__application--line-two {
    width: 29rem;
    height: .5rem;
    background: #5e3db3;
    transform: rotate(-54deg) translateX(12rem);
    left: 30rem;
    position: relative;
    z-index: 2; }

.footer__bottom {
  height: 17rem;
  background: rgba(10, 13, 53, 0.9);
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 0 5rem; }
  @media only screen and (max-width: 768px) {
    .footer__bottom {
      justify-content: center; } }
  @media only screen and (max-width: 768px) {
    .footer__bottom {
      height: 9rem; } }
  .footer__bottom--social {
    margin-left: 11rem; }
    @media only screen and (max-width: 768px) {
      .footer__bottom--social {
        margin-left: 0; } }
    .footer__bottom--social i {
      padding: 0 1.5rem; }
      @media only screen and (max-width: 768px) {
        .footer__bottom--social i {
          font-size: 3rem; } }
  @media only screen and (max-width: 768px) {
    .footer__bottom--contact {
      display: none; } }
  @media only screen and (max-width: 768px) {
    .footer__bottom--logo {
      display: none; } }
  .footer__bottom > * {
    align-self: center;
    font-size: 2rem;
    font-weight: lighter; }
