/* BREAKPOINTS VARIABLES */
$bp-largest: 75em; //1200px
$bp-large: 68.75em;
$bp-medium: 56.25em; //900px
$bp-small: 37.5em;
$bp-smallest: 31.25em;

// FONT Variables
$default-font-size: 1.6rem;


//COLOR VARIABLES 
$color-primary: #5e3db3;
$color-secondary: #0a0d35;
$color-third: #f6f4fb;
$color-grey: #e7e7e7;
$color-grey-dark: #c1c1c1;



/* BASE SETTINGS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem=10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
      font-size: 50%;
  }
}

body {
  font-family: "Metropolis", sans-serif;
  font-weight: normal;
  line-height: 1.6;
}

h1 {
  font-family: "Metropolis", sans-serif;
}

.container {
  max-width: 153rem;
  margin: 0rem auto;
  height: 100%;


  @media only screen and (max-width: $bp-largest) {
      margin: 0;
      max-width: 100%;
      width: 100%;
  }
}

/* CROSS */

.cross {
  width: 1.5rem;
  height: 1px;
  background: $color-primary;
  box-shadow: 0px 0px 0px 1px rgba($color-primary,.5);
  position: absolute;
}

.cross-light {
  width: 1.5rem;
  height: 1px;
  background: $color-primary;
  box-shadow: 0px 0px 0px 1px rgba($color-primary,.5);
  opacity: .5;
  position: absolute;
}