.section {
  &__players {
    margin-top: 6.8rem;
    max-height: 96rem;
    //display: flex;
    flex-direction: column;
    overflow: hidden;

    

    & .container {
      position: relative;
    }

    & img {
      position: absolute;
    }

    &--img {
      z-index: 2;
      left: 66rem;
      top: 2rem;
      height: 86rem;
      max-width: 100rem;
      position: absolute;

      & img {
        overflow: hidden;
      }

      & img {
        @media only screen and (max-width: 768px) {
          height: 79rem;
        }
      }

      @media only screen and (max-width: 768px) {
        right: 8rem;
      }
    }


    &--blank {
      position: relative;
      width: 40%;
    }

    &--container {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }

    & .cross-3-1 {
      top: 13rem;
      left: 2rem;
    }

    & .cross-3-2 {
      top: 13rem;
      left: 2rem;
      transform: rotate(90deg);
    }

    & .cross-4-1 {
      left: -1rem;
      top: 11rem;
    }

    & .cross-4-2 {
      left: -1rem;
      top: 11rem;
      transform: rotate(90deg);
    }

    & .cross-5-1 {
      right: 8rem;
      top: 40rem;
    }

    & .cross-5-2 {
      right: 8rem;
      top: 40rem;
      transform: rotate(90deg);
    }

    &--title {
      width: 45%;
      color: $color-grey;

      font-size: 9rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 10.3rem;
      line-height: 1;
      height: 25.7rem;
    }

    &--line {
      width: 63rem;
      background: #916fe9;
      height: .5rem;
      z-index: 0;
      transform: rotate(-54deg) translateX(27rem);
      left: -39rem;
      position: relative;
      overflow: hidden;
    }

    &--line-two {
      width: 38rem;
      background: #916fe9;
      height: .5rem;
      z-index: 0;
      transform: rotate(-54deg) translateX(68rem);
      left: -8rem;
      position: relative;
      overflow: hidden;

      @media only screen and (max-width: 768px) {
        display: none;
      }

      @media only screen and (max-width: 1568px) {
        width: 30rem;
      }
        
      }
    


    &--item {
      height: 25.7rem;

      &:last-child {
        color: red;
      }
      



      &:nth-child(3) {
        background: $color-third;
      }

      &:nth-child(4) {
        background: #0a0d35;
        color: #fff;

        & span {
          color: $color-primary;
        }
      }
    }

    &--textbox {
      width: 45%;
      align-self: center;

      @media only screen and (max-width: 768px) {
        width: 60%;
      }

      &--title {
        color: $color-grey-dark;
        text-transform: uppercase;
        font-size: 3.6rem;

       

        & span {
          font-size: 1.8rem;
          border-bottom: 5px solid $color-primary;
          color: black;
          position: relative;
          top: -12px;
          
        }


        
      }

      &--text {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}

.section__players--item:nth-child(4) {
  height: 19rem;
}